@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
  }

  ::-webkit-scrollbar-thumb {
    background: #fde047;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #fbbf24;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #fbbf24;
  }
}
