@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
